<div>
   <form action="/productos" method="post">
      Nombre: <input type="text" name="nombre" id="nombre" />
      Precio:<input type="text" name="precio" id="precio" />
      Url:<input type="text" name="url" id="url" />
      <input type="submit" value="INGRESAR" />
   </form>
</div>